In [1]:
## import Python libraries and functionality

import pandas as pd
from scipy import stats
import numpy as np
import scipy.stats
import matplotlib.pyplot as plt
from scipy.stats import norm

import statsmodels.api as sm

In [2]:
data = pd.read_csv('SPY.csv')
data_amzn = pd.read_csv('amzn.csv')
data['Returns_Cls'] = np.log(data.Close / data.Close.shift())
data_amzn['Returns_Cls'] = np.log(data_amzn.Close / data_amzn.Close.shift())

data = data[1085:].reset_index()
data_amzn = data_amzn[1:]
data = data[1:].drop(columns=['index'])
data

,Date,Open,High,Low,Close,Adj Close,Volume,Returns_Cls
1,1997-05-16,84.125000,84.312500,83.000000,83.218750,53.696087,1934200,-0.013798
2,1997-05-19,83.312500,83.906250,83.062500,83.468750,53.857410,1375800,0.003000
3,1997-05-20,83.281250,84.687500,82.750000,84.468750,54.502625,1756400,0.011909
4,1997-05-21,84.687500,84.984375,83.656250,84.281250,54.381664,1208000,-0.002222
5,1997-05-22,84.375000,84.468750,83.562500,84.000000,54.200169,907600,-0.003343
...,...,...,...,...,...,...,...,...
6127,2021-09-20,434.880005,436.559998,428.859985,434.040009,434.040009,166445500,-0.016815
6128,2021-09-21,436.529999,437.910004,433.070007,433.630005,433.630005,92526100,-0.000945
6129,2021-09-22,436.049988,440.029999,433.750000,437.859985,437.859985,102350100,0.009708
6130,2021-09-23,439.850006,444.890015,439.600006,443.179993,443.179993,76396000,0.012077
6131,2021-09-24,441.440002,444.670013,441.209991,443.910004,443.910004,62025800,0.001646

In [3]:
data_amzn

,Date,Open,High,Low,Close,Adj Close,Volume,Returns_Cls
1,1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000,-0.124454
2,1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800,-0.012122
3,1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200,-0.043620
4,1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200,-0.136265
5,1997-05-22,1.437500,1.447917,1.312500,1.395833,1.395833,11776800,-0.022141
...,...,...,...,...,...,...,...,...
6127,2021-09-20,3396.000000,3419.000000,3305.010010,3355.729980,3355.729980,4669100,-0.031327
6128,2021-09-21,3375.000000,3379.699951,3332.389893,3343.629883,3343.629883,2780900,-0.003612
6129,2021-09-22,3351.000000,3389.000000,3341.050049,3380.050049,3380.050049,2411400,0.010834
6130,2021-09-23,3380.050049,3428.959961,3380.050049,3416.000000,3416.000000,2379400,0.010580
6131,2021-09-24,3402.010010,3429.260010,3393.399902,3425.520020,3425.520020,2113600,0.002783

In [4]:
y = data_amzn['Returns_Cls']
x = pd.DataFrame(data['Returns_Cls'])
x['Constant'] = 1

model = sm.OLS(y, x)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            Returns_Cls   R-squared:                       0.191
Model:                            OLS   Adj. R-squared:                  0.191
Method:                 Least Squares   F-statistic:                     1451.
Date:                Fri, 17 Dec 2021   Prob (F-statistic):          3.99e-285
Time:                        10:40:03   Log-Likelihood:                 12330.
No. Observations:                6131   AIC:                        -2.466e+04
Df Residuals:                    6129   BIC:                        -2.464e+04
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Returns_Cls     1.2614      0.033     38.090      0.000       1.196       1.326
Constant        0.0009      0.000      2.118      0.034    6.51e-05       0.002
==============================================================================
Omnibus:                     1639.647   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            39757.018
Skew:                           0.720   Prob(JB):                         0.00
Kurtosis:                      15.392   Cond. No.                         80.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [5]:
x_ret = x['Returns_Cls']
x_ret

1      -0.013798
2       0.003000
3       0.011909
4      -0.002222
5      -0.003343
          ...
6127   -0.016815
6128   -0.000945
6129    0.009708
6130    0.012077
6131    0.001646
Name: Returns_Cls, Length: 6131, dtype: float64

In [6]:
rho_amzn_spy = np.corrcoef(x_ret, y)
rho_amzn_spy

array([[1.        , 0.43750425],
       [0.43750425, 1.        ]])

In [7]:
cov_amzn_spy = np.cov(x_ret, y)
cov_amzn_spy

array([[0.00015609, 0.00019689],
       [0.00019689, 0.00129747]])

In [8]:
rho_value_amzn_spy = rho_amzn_spy[0,1]
rho_value_amzn_spy

0.4375042523778818

In [9]:
amzn_std = cov_amzn_spy[1,1]
amzn_std

0.0012974730446875958

In [10]:
spy_std = cov_amzn_spy[0,0]
spy_std

0.0001560922513875577

In [11]:
beta = rho_value_amzn_spy * (amzn_std / spy_std)
beta

3.636631346850755